<div style="width:550px;">
  <p><%= @message.supporter_first_name %>,</p>

  <p>Thanks for your donation to Evolve’s campaign to close the commercial loophole in Prop. 13! Below is a receipt for your records.</p>

  <p>We rely on the support and action of our grassroots membership, and thanks to people like you, we are poised to implement real reform on Prop. 13.</p>

  <p>Visit our <a href="http://www.evolve-ca.org/" title="website">website</a> to find out other ways to get involved in this critical campaign!</a> And finally, the best way to keep up with our progress is to like our <a href="https://www.facebook.com/evolve.ca" title="Facebook"> Facebook</a> page.</p>

  <hr />

  <h3>Donation Receipt</h3>
  <% unless @message.donation_captured %>
    <p>Your donation appears to have been declined. We will try again shortly.</p>
  <% end %>
  <table style="border:2px solid gray; text-align:right; padding:0px; border-collapse:collapse">
    <tr>
      <th style="padding:5px 10px; border:1px solid gray">Amount:</th>
      <td style="padding:5px 10px; border:1px solid gray"><%= number_to_currency(@message.donation_amount) %></td>
      <th style="padding:5px 10px; border:1px solid gray">Date:</th>
      <td style="padding:5px 10px; border:1px solid gray"><%= @message.donation_date %></td>
    </tr>
    <tr>
      <th style="padding:5px 10px; border:1px solid gray">Frequency:</th>
      <td style="padding:5px 10px; border:1px solid gray"><%= @message.donation_frequency.humanize %></td>
      <th style="padding:5px 10px; border:1px solid gray">Type:</th>
      <td style="padding:5px 10px; border:1px solid gray"><%= @message.donation_type.humanize %></td>
    </tr>
  </table>
  <p><em>Donations to Evolve are not tax-deductible. They are used to influence legislation.</em></p>
</div>