<% provide(:title, 'Paycheck') %>
<h1>Paycheck profile</h1>
<div class="col-md-12 row record-display">
  <div class="col-md-4 record-column">
    <table>
      <tr>
        <th>Employee</th>
        <td><%= @paycheck_presenter.employee_full_name %></td>
      </tr>
      <tr>
        <th>Check date</th>
        <td><%= @paycheck_presenter.formatted_check_date %></td>
      </tr>
      <tr>
        <th>Bonus</th>
        <td><%= @paycheck_presenter.formatted_bonus %></td>
      </tr>
      <tr>
        <th>Travel</th>
        <td><%= @paycheck_presenter.formatted_travel_reimb %></td>
      </tr>
      <tr>
        <th>Old buffer</th>
        <td><%= @paycheck_presenter.formatted_old_buffer %></td>
      </tr>
      <tr>
        <th>New buffer</th>
        <td><%= @paycheck_presenter.formatted_new_buffer %></td>
      </tr>
    </table>
  </div>
  <div class="col-md-4 record-column">
    <table>
      <tr>
        <th>Total shifts</th>
        <td><%= @paycheck_presenter.shift_quantity %></td>
      </tr>
      <tr>
        <th>Quota shifts</th>
        <td><%= @paycheck_presenter.quota_shift_quantity %></td>
      </tr>
      <tr>
        <th>Canvass shifts</th>
        <td><%= @paycheck_presenter.cv_shift_quantity %></td>
      </tr>
      <tr>
        <th>Office shifts</th>
        <td><%= @paycheck_presenter.office_shift_quantity %></td>
      </tr>
      <tr>
        <th>Other shifts</th>
        <td><%= @paycheck_presenter.other_shift_quantity %></td>
      </tr>
    </table>
  </div>
  <div class="col-md-4 record-column">
    <table>
      <tr>
        <th>Gross credit</th>
        <td><%= @paycheck_presenter.formatted_gross_fundraising_credit %></td>
      </tr>
      <tr>
        <th>Total credits</th>
        <td><%= @paycheck_presenter.formatted_total_credits %></td>
      </tr>
      <tr>
        <th>Total docks</th>
        <td><%= @paycheck_presenter.formatted_total_docks %></td>
      </tr>
      <tr>
        <th>Net credit</th>
        <td><%= @paycheck_presenter.formatted_net_fundraising_credit %></td>
      </tr>
      <tr>
        <th>Total quota</th>
        <td><%= @paycheck_presenter.formatted_total_quota %></td>
      </tr>
      <tr>
        <th>Over quota</th>
        <td><%= @paycheck_presenter.formatted_over_quota %></td>
      </tr>
    </table>
  </div>
</div>
<%= render "shared/profiles/dependent_shifts",
           employee: @paycheck_presenter.model.employee,
           shift_presenters: @shift_presenters %>
