<tr class="clickable-row" id="employee_<%= employee.id %>" url="<%= employee_path(employee) %>">
  <td><%= employee.full_name %></td>
  <td><%= employee.title.humanize %></td>
  <td><%= mail_to employee.email, employee.email, class: 'hover-underline-grey' %></td>
  <td><%= number_to_phone(employee.phone.to_i) %></td>
  <td><%= employee.address_city %></td>
  <td><%= employee.active ? 'Active' : 'Inactive' %></td>
</tr>