<tr>
  <td><%= employee.full_name %></td>
  <td><%= employee.title.humanize %></td>
  <td><%= mail_to employee.email, employee.email,
                  class: "hover-underline-grey" %></td>
  <td><%= number_to_phone(employee.phone.to_i) %></td>
  <td><%= employee.address_city %></td>
  <td><%= employee.active ? "Active" : "Inactive" %></td>
  <td class="buttons">
    <%= render "shared/index/index_buttons", record: employee %>
  </td>
</tr>