<div class="row">
  <div class="col-md-2">
    <%= f.input :first_name %>
  </div>
  <div class="col-md-3">
    <%= f.input :last_name %>
  </div>
  <div class="col-md-2">
    <%= f.input :phone %>
  </div>
  <div class="col-md-4">
    <%= f.input :email %>
  </div>
</div>
<%= render 'shared/forms/address_fields', f: f, record: employee %>
<hr />
<div class="row">
  <div class="col-md-3">
    <%= f.input :title,
                as: :select,
                collection: [['Asst. Director', 'asst_director'],
                             ['Director', 'director'],
                             ['Organizer', 'organizer'],
                             ['Field Manager', 'field_manager'],
                             ['Canvasser', 'canvasser'] ],
                selected: employee.title   %>
  </div>
  <div class="col-md-2">
    <%= f.input :pay_hourly, label: 'Pay hrly' %>
  </div>
  <div class="col-md-2">
    <%= f.input :pay_daily %>
  </div>
  <div class="col-md-2">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-4">
    <div id="filing_status">
      <p>Filing status</p>
    </div>
  </div>
  <div class="col-md-8">
    <div id="filing_status">
      <p>Allowances</p>
    </div>
  </div>
  <div class="col-md-2 select">
    <%= f.input :fed_filing_status,
                 as: :select,
                 label: 'Federal',
                 collection: filing_status_options,
                 selected: employee.fed_filing_status %>
  </div>
  <div class="col-md-2 select">
    <%= f.input :ca_filing_status,
                 as: :select,
                 label: 'Federal',
                 collection: filing_status_options,
                 selected: employee.ca_filing_status %>
  </div>
  <div class="col-md-2">
    <%= f.input :fed_allowances, label: 'Federal' %>
  </div>
  <div class="col-md-2">
    <%= f.input :ca_allowances, label: 'CA' %>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-2">
    <%= f.input :gender,
                as: :select,
                collection: [['Female', 'f'],
                             ['Male', 'm']],
                include_blank: true,
                selected: employee.gender %>
  </div>
  <div class="col-md-2">
    <%= f.input :dob, as: :string, input_html: { class: 'datepicker' } %>
  </div>
  <div class="col-md-2">
    <%= f.input :hire_date, as: :string, input_html: { class: 'datepicker' } %>
  </div>
</div>
<hr />