<div class="row">
  <div class="span12" id="employee-shifts">
    <div class="row">
      <div class="span6">
        <h3 class="table-title-right">Shifts</h3>
      </div>
      <%= render 'shared/profiles/new_dependent_record_button', record_name: 'shift', record: employee%>
    </div>
    <table class="table table-condensed table-striped">
      <tr>
        <th>Date</th>
        <th>Time in</th>
        <th>Time out</th>
        <th>Net hours</th>
        <th>Type</th>
        <th></th>
      </tr>
      <% shifts.each do |shift| %>
        <tr>
          <td><%= shift.date %></td>
          <td><%= shift.time_in %></td>
          <td><%= shift.time_out %></td>
          <td><%= shift.net_time %></td>
          <td><%= shift.shift_type.name.humanize %></td>
          <td class="buttons"><%= link_to 'details', shift_path(shift), class: 'btn btn-mini', type: 'button' %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
