<div class="col-md-12 row" id="employee-shifts">
  <div class="table-header">
    <h4 class="table-title-right">Shifts</h4>

    <%= render "shared/profiles/new_dependent_record_button",
               record_name: "shift",
               record: employee %>
  </div>
  <table class="table table-hover">
    <tr>
      <th>Date</th>
      <th>Time in</th>
      <th>Time out</th>
      <th>Net hours</th>
      <th>Type</th>
    </tr>
    <% shifts.each do |shift| %>
      <tr class="clickable-row"
          id="shift_<%= shift.id %>"
          url="<%= shift_path(shift) %>">
        <td><%= shift.date %></td>
        <td><%= l(shift.time_in, format: :short) %></td>
        <td><%= l(shift.time_out, format: :short) %></td>
        <td><%= shift.net_time %></td>
        <td><%= shift.shift_type.name.humanize %></td>
      </tr>
    <% end %>
  </table>
</div>
