<div class="row">
  <div class="span2">
    <%= f.input :first_name %>
  </div>
  <div class="span1"></div>
  <div class="span3">
    <%= f.input :last_name %>
  </div>
</div>
<div class="row">
  <div class="span2">
    <%= f.input :phone %>
  </div>
  <div class="span1"></div>
  <div class="span3">
    <%= f.input :email %>
  </div>
</div>
<%= render 'shared/forms/address_fields', f: f %>
<hr />
<div class="row">
  <div class="span2">
    <%= f.label :title %>
    <%= f.select :title, options_for_select([ ['Asst. Director', 'asst_director'], ['Director', 'director'],
                                              ['Organizer', 'organizer'], ['Field Manager', 'field_manager'],
                                              ['Canvasser', 'canvasser'] ], employee.title )  %>
  </div>
  <div class="span1 spacer"></div>
  <div class="span1">
    <%= f.input :pay_hourly, label: 'Pay hrly' %>
  </div>
  <div class="span1 ">
    <%= f.input :pay_daily %>
  </div>
  <div class="span1 spacer"></div>
  <div class="span2">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
</div>
<hr />
<div class="row">
  <div class="row">
    <div class="span8">
      <div class="span5">
        <div id="filing_status">
          <p>Filing status</p>
        </div>
      </div>
      <div class="span2">
        <div id="filing_status">
          <p>Allowances</p>
        </div>
      </div>
    </div>
  </div>
  <div class="span2 select">
    <%= f.label :fed_filing_status, 'Federal' %>
    <%= f.select :fed_filing_status, options_for_select(filing_status_options, employee.fed_filing_status) %>
  </div>
  <div class="span2 select">
    <%= f.label :ca_filing_status, 'California' %>
    <%= f.select :ca_filing_status, options_for_select(filing_status_options, employee.ca_filing_status) %>
  </div>
  <div class="span1 spacer"></div>
  <div class="span1">
    <%= f.input :fed_allowances, label: 'Federal' %>
  </div>
  <div class="span1">
    <%= f.input :ca_allowances, label: 'CA' %>
  </div>
</div>
<hr />
<div class="row">
  <div class="span2">
    <div class="input">
      <%= f.label :gender %>
      <%= f.select :gender, options_for_select([['',''], ['Female', 'f'], ['Male', 'm']], employee.gender) %>
    </div>
  </div>
  <div class="span2">
    <div class="input">
      <%= f.label :dob %>
      <%= f.text_field :dob, 'data-behaviour' => 'datepicker' %>
    </div>
  </div>
  <div class="span2">
    <div class="input">
      <%= f.label :hire_date %>
      <%= f.text_field :hire_date, 'data-behaviour' => 'datepicker' %>
    </div>
  </div>
</div>
<hr />