<% provide(:title, @employee_presenter.full_name) %>
<h1>Employee profile</h1>
<div class="col-md-12 row button-container">
  <div class="buttons">
    <%= render "shared/profiles/profile_buttons",
               record: @employee_presenter.model %>
  </div>
</div>
<% cache @employee_presenter.model do %>
  <%= render "employee_details" %>
  <%= render "employee_stats" %>
  <%= render "shared/profiles/dependent_shifts",
           employee: @employee_presenter.model,
           shift_presenters: @shift_presenters %>

  <%= render "shared/profiles/dependent_paychecks",
           paycheck_presenters: @paycheck_presenters %>
<% end %>

