<% provide(:title, 'New user') %>
<div class="row">
  <div class="span8 offset2">
    <h1>New user</h1>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%# render 'shared/error_messages', object: f.object %>
        <%= devise_error_messages! %>
        <div class="row">
          <div class="span4">
            <div class="input">
              <%= f.label :first_name %>
              <%= f.text_field :first_name %>
            </div>
          </div>
          <div class="span4">
            <div class="input">
              <%= f.label :last_name %>
              <%= f.text_field :last_name %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <div class="input">
              <%= f.label :email %>
              <%= f.text_field :email %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <div class="input">
              <%= f.label :password %>
              <%= f.password_field :password %>
            </div>
          </div>
          <div class="span4">
            <div class="input">
              <%= f.label :password_confirmation, 'Confirmation' %>
              <%= f.password_field :password_confirmation %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span8">
            <%= f.submit 'New user', class: 'btn btn-large btn-primary' %>
          </div>
        </div>
    <% end %>
  </div>
</div>
