
<div class="row">
  <div class="span4">
    <%= f.input :name, label: 'Task name' %>
  </div>
</div>
<div class="row">
  <div class="span4">
    <%= f.label :project_id %>
    <%= f.select :project_id, options_from_collection_for_select(Project.all, :id, :name, task.project_id) %>
  </div>
</div>
<div class="row">
  <div class="span2">
    <%= f.input :hours %>
  </div>
</div>
<div class="row">
  <div class="span4">
    <%= f.input :desc, label: 'Description' %>
  </div>
</div>
<%= render 'shared/forms/notes_field', f: f %>
