<% provide(:title, @task.name) %>
<h1>task profile</h1>
<div class="row">
  <div class="span4">
    <div class="row">
      <div class="span2">
        <h2><%= @task.name %></h2>
      </div>
    </div>
    <div>
      <table>
        <tr height="5px"></tr>
        <tr>
          <th>Project</th>
          <td><%= @project.name %></td>
        </tr>
        <tr>
          <th>Hours</th>
          <td>
            <%= @task.hours %>
          </td>
        </tr>
        <tr>
          <th>Description</th>
          <td><%= @task.desc %></td>
        </tr>
        <tr>
          <th>Notes</th>
          <td><%= @task.notes %></td>
        </tr>
      </table>
      <div class="row">
        <div class="span2 padtop">
          <div class="buttons">
            <% if manager_user? || current_user_owns?(@task) %>
              <%= link_to 'edit', edit_task_path(@task), class: 'btn btn-mini', type: 'button' %>
              <%= link_to 'delete', @task, method: :delete,
                          data: { confirm: 'You sure?' },
                          class: 'btn btn-mini btn-danger', type: 'button' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>