<div class="row">
  <div class="span3">
    <%= f.input :address1, label: 'Address line 1', placeholder: '123 Main St.' %>
  </div>
  <div class="span2">
    <%= f.input :address2, label: 'Address line 2', placeholder: 'Apt. 320' %>
  </div>
  <div class="span2">
    <%= f.input :address_city, label: 'City', placeholder: 'San Francisco' %>
  </div>
  <div class="span1 select">
    <%= f.label :address_state, 'State' %>
    <%= f.select :address_state, us_states %>
  </div>
  <div class="span1">
    <%= f.input :address_zip, label: 'Zip', placeholder: '94110' %>
  </div>
</div>