<div class="form-group row">
  <div class="col-md-3">
    <%= f.input :address1,
                label: "Address line 1",
                placeholder: "123 Main St. Apt. 4" %>
  </div>
  <div class="col-md-3">
    <%= f.input :address2,
                label: "Address line 2",
                placeholder: "Suite #567" %>
  </div>
  <div class="col-md-2">
    <%= f.input :address_city,
                label: "City",
                placeholder: "San Francisco" %>
  </div>
  <div class="col-md-2 select">
    <%= f.input :address_state,
                as: :select,
                collection: us_states,
                selected: record.address_state.present? ? record.address_state : "CA",
                label: "State" %>
  </div>
  <div class="col-md-2">
    <%= f.input :address_zip,
                label: "Zip",
                placeholder: "94110" %>
  </div>
</div>
