<div class="form-group row field" >
  <div class="col-md-12">
    <div class="col-md-3">
      <%= f.attribute_fields do |a| %>
        <%= a.attribute_select %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= f.predicate_select %>
    </div>
    <div class="col-md-3">
      <%= f.value_fields do |v| %>
        <%= v.text_field :value %>
      <% end %>
    </div>
    <div class="col-md-1">
      <%= link_to "remove", "#", class: "remove_fields" %>
    </div>
  </div>
</div>
