<div>
  <hr />
  <div class="row">
    <div class="span10">
      <%= f.simple_fields_for :payments do |payment_field| %>
        <%= payment_field.input :payment_profile_id, as: :hidden, input_html: { id: 'payment_profile_id', value: ''} %>
        <div class="row">
          <div class="span2">
            <%= payment_field.input :payment_type, collection: [['Credit Card', 'credit'],
                                                                ['Cash', 'cash'],
                                                                ['Check', 'check']], selected: payment.payment_type %>
          </div>
          <div class="span2">
            <%= payment_field.input :amount %>
          </div>
        </div>
        <p>Select an existing payment profile or <%= link_to 'create a new one', '#' %>.</p>
        <div class="row">
          <div class="span10">
            <%= simple_form_for([supporter, new_payment_profile], remote: true) do |new_payment_field| %>
              <div class="row">
                <div class="span2">
                  <%= new_payment_field.input :payment_profile_type, collection: [['Credit Card', 'credit'],
                                                                                  ['Cash', 'cash'],
                                                                                  ['Check', 'check']],
                                              selected: 'credit' %>
                </div>
                <div class="span3">
                  <%= new_payment_field.input :cc_number, label: 'CC number' %>
                </div>
                <div class="span2">
                  <%= new_payment_field.input :cc_month, label: 'Exp month', placeholder: '04' %>
                </div>
                <div class="span2">
                  <%= new_payment_field.input :cc_year, label: 'Exp year', placeholder: '2014' %>
                </div>
              </div>
              <div class="row">
                <div class="span8">
                  <div id="credit_card_number_error" class="red"></div>
                </div>
              </div>
              <div class="row">
                <div class="span2">
                  <%= new_payment_field.button :submit, remote: true, class: 'btn btn-mini' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row">
          <% payment_profiles.each_with_index do |payment_profile, n| %>
            <div class="payment-profile span2" id="payment-profile<%= n.to_s %>">
              <table class="table table-condensed">
                <tr>
                  <th>Type</th>
                  <td><%= payment_profile.payment_profile_type.humanize %></td>
                </tr>
                <% if payment_profile.payment_profile_type == 'credit' %>
                  <tr>
                    <th>Card</th>
                    <td><%= payment_profile.cc_type.humanize %></td>
                  </tr>
                  <tr>
                    <th>Last 4</th>
                    <td><%= payment_profile.cc_last_4 %></td>
                  </tr>
                  <tr>
                    <th>Exp</th>
                    <td><%= "#{payment_profile.cc_month}/#{payment_profile.cc_year}" %></td>
                  </tr>
                <% end %>
              </table>
              <%= radio_button_tag 'radio', payment_profile.id %> Use this profile
            </div>
          <% end %>
        </div>
        <hr />

        <%= render 'shared/forms/notes_field', f: payment_field %>
      <% end %>
    </div>
  </div>
</div>