<div class="payment-profile col-md-2 padbottom" id="payment-profile-<%= n.to_s %>">
  <table class="table table-condensed">
    <tr>
      <th>Type</th>
      <td><%= payment_profile.payment_profile_type.humanize %></td>
    </tr>
    <% if payment_profile.payment_profile_type == 'credit' %>
      <tr>
        <th>Card</th>
        <td><%= payment_profile.cc_type.humanize if payment_profile.cc_type %></td>
      </tr>
      <tr>
        <th>Last 4</th>
        <td><%= payment_profile.cc_last_4 %></td>
      </tr>
      <tr>
        <th>Exp</th>
        <td><%= "#{payment_profile.cc_month}/#{payment_profile.cc_year}" %></td>
      </tr>
    <% end %>
  </table>
  <%= radio_button_tag 'radio', payment_profile.id, false, class: 'profile-selector' %> Use this profile
</div>