<div class="row">
  <div class="span4">
    <div class="input">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
  </div>
  <div class="span4">
    <div class="input">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4">
    <div class="input">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  </div>
  <% if super_admin_user? %>
    <div class="span2">
      <div class="input select">
        <%= f.label :role %>
        <%= f.select :role, options_for_select([ ['None', ''], ['Superadmin', 'super_admin'],
                                                 ['Admin', 'admin'], ['Manager', 'manager'],
                                                 ['Staff', 'staff'] ], @user.role) %>
      </div>
    </div>

  <% end %>
</div>
