<tr>
  <td><%= mail_to user.email, user.email, class: 'hover-underline-grey' %></td>
  <td><%= user.role.humanize %></td>
  <td><%= l user.created_at %></td>
  <td><%= l user.updated_at %></td>
  <td class="buttons">
    <%= render "shared/index/index_buttons", record: user %>
  </td>
</tr>