<tr class="clickable-row" id="user_<%= user.id %>" url="<%= user_path(user) %>">
  <td><%= mail_to user.email, user.email, class: 'hover-underline-grey' %></td>
  <td><%= user.role.humanize %></td>
  <td><%= user.created_at.strftime("%Y-%m-%d") %></td>
  <td><%= user.updated_at.strftime("%Y-%m-%d") %></td>
</tr>