<% provide(:title) %>
<h1>User profile</h1>
<%= render 'shared/profiles/profile_buttons', record: @user if super_admin_user? %>
<div class="col-md-12 row record-display">
  <div class="col-md-4 record-column">
    <table>
      <tr height="5px"></tr>
      <tr>
        <th>Email:</th>
        <td><%= mail_to @user.email, @user.email %></td>
      </tr>
      <tr>
        <th>Role:</th>
        <td><%= @user.role.humanize %></td>
      </tr>
      <tr>
        <th>User ID:</th>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <th>Modified:</th>
        <td><%= @user.updated_at %></td>
      </tr>
      <tr>
        <th>Created:</th>
        <td><%= @user.created_at %></td>
      </tr>
    </table>
  </div>
</div>