<% provide(:title) %>
<h1>User profile</h1>
<div class="row">
  <div class="span4">
    <div class="row">
      <div class="span2 padtop">
        <div class="buttons">
          <% if super_admin_user?  %>
              <%= link_to 'edit', edit_user_path(@user), class: 'btn btn-mini', type: 'button' %>
          <% end %>
          <% if admin_user? %>
              <%= link_to 'delete', @user, method: :delete,
                          data: { confirm: "You sure?" },
                          class: 'btn btn-mini btn-danger', type: 'button' %>
          <% end %>
        </div>
      </div>
    </div>
    <div>
      <table>
        <tr height="5px"></tr>
        <tr>
          <th>Email:</th>
          <td><%= mail_to @user.email, @user.email %></td>
        </tr>
        <tr>
          <th>Role:</th>
          <td><%= @user.role.humanize %></td>
        </tr>
        <tr>
          <th>User ID:</th>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <th>Employee ID:</th>
          <td><%= @user.employee_id %></td>
        </tr>
        <tr>
          <th>Modified:</th>
          <td><%= @user.updated_at %></td>
        </tr>
        <tr>
          <th>Created:</th>
          <td><%= @user.created_at %></td>
        </tr>
      </table>
    </div>
  </div>
</div>