<% payroll_presenters.each do |payroll_presenter| %>
  <tr>
    <td><%= payroll_presenter.formatted_end_date %></td>
    <td><%= payroll_presenter.check_quantity %>
    <td><%= payroll_presenter.shift_quantity %></td>
    <td><%= payroll_presenter.cv_shift_quantity %></td>
    <td><%= payroll_presenter.office_shift_quantity %></td>
    <td><%= payroll_presenter.formatted_raised %></td>
    <td><%= payroll_presenter.formatted_total_deposit %></td>
    <td class="buttons">
      <%= render "shared/index/index_buttons",
                 record: payroll_presenter.model %>
    </td>
  </tr>
<% end %>
