<div class="row">
  <div class="span6">
    <%= f.input :name, label: 'Client name' %>
  </div>
</div>
<%= render 'shared/forms/address_fields', f: f %>
<hr />
<div class="row">
  <div class="span5">
    <%= f.input :contact_name %>
  </div>
  <div class="span3">
    <%= f.input :contact_email %>
  </div>
  <div class="span2">
    <%= f.input :contact_phone %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <%= f.input :uri, label: 'Web address' %>
  </div>
</div>
<%= render 'shared/forms/notes_field', f: f %>
