<tr>
  <td><%= client.name %></td>
  <td><%= client.contact_name %></td>
  <td><%= client.contact_email %></td>
  <td><%= client.contact_phone %></td>
  <td class="buttons">
    <%= render 'shared/index/details_button', record: client if manager_user? %>
    <%= render 'shared/index/edit_button', record: client if admin_user? %>
  </td>
</tr>