<div class="col-md-12 row" id="dependent-donations">
  <div class="table-header">
    <h4 class="table-title-right">Donations</h4>
  </div>
  <table class="table table-hover">
    <tr>
      <th>Supporter</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Frequency</th>
      <th>Captured?</th>
      <th>Cancelled?</th>
      <th>Source</th>
      <th></th>
    </tr>
    <% donation_presenters.each do |donation_presenter| %>
      <tr class="<%= donation_presenter.captured ? "" : "red" %>">
        <td><%= link_to donation_presenter.supporter_full_name, donation_presenter.supporter %></td>
        <td><%= donation_presenter.formatted_date %></td>
        <td><%= donation_presenter.formatted_amount %></td>
        <td><%= donation_presenter.type_to_human %></td>
        <td><%= donation_presenter.frequency_to_human %></td>
        <td><%= donation_presenter.captured_to_human %></td>
        <td><%= donation_presenter.cancelled_to_human %></td>
        <td><%= donation_presenter.source_to_human %></td>
        <td class="buttons">
          <%= render "shared/index/index_buttons",
                     record: donation_presenter.model %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
