<div class="col-md-12 row" id="employee-shifts">
  <div class="table-header">
    <h4 class="table-title-right">Shifts</h4>
  </div>
  <table class="table table-hover">
    <tr>
      <th>Date</th>
      <th>Time in</th>
      <th>Time out</th>
      <th>Net hours</th>
      <th>Type</th>
      <th>Deposit</th>
      <th>Credit</th>
      <th></th>
    </tr>
    <% shift_presenters.each do |shift_presenter| %>
      <tr>
        <td><%= shift_presenter.formatted_date %></td>
        <td><%= shift_presenter.formatted_time_in %></td>
        <td><%= shift_presenter.formatted_time_out %></td>
        <td><%= shift_presenter.net_time %></td>
        <td><%= shift_presenter.shift_type_name %></td>
        <td><%= shift_presenter.formatted_total_deposit %></td>
        <td><%= shift_presenter.formatted_gross_fundraising_credit %></td>
        <td class="buttons">
          <%= render "shared/index/index_buttons",
                     record: shift_presenter.model %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
