<div class="col-md-12 row" id="dependent-payments">
  <div class="table-header">
    <h4 class="table-title-right">Payments</h4>
  </div>
  <table class="table table-hover">
    <tr>
      <th>Created at</th>
      <th>Employee</th>
      <th>Shift</th>
      <th>Supporter</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Frequency</th>
      <th>Source</th>
      <th>Captured?</th>
      <th></th>
    </tr>
    <% payment_presenters.each do |payment_presenter| %>
      <tr class="<%= payment_presenter.captured ? "" : "red" %>" >
        <td>
          <%= payment_presenter.formatted_created_at %>
        </td>
        <td>
          <%= payment_presenter.credited_employee %>
        </td>
        <td>
          <%= payment_presenter.shift_date %>
        </td>
        <td>
          <%= payment_presenter.supporter_name %>
        </td>
        <td>
          <%= payment_presenter.formatted_amount %>
        </td>
        <td>
          <%= payment_presenter.type_to_human %>
        </td>
        <td>
          <%= payment_presenter.frequency_to_human %>
        </td>
        <td>
          <%= payment_presenter.source_to_human %>
        </td>
        <td>
          <%= payment_presenter.captured_to_human %>
        </td>
        <td class="buttons">
          <%= render "shared/index/index_buttons",
                     record: payment_presenter.model %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
