<% provide(:title, "Send email") %>
<h1>Send pledge email</h1>

<div class="row">
  <div class= "span8 offset2">

    <%= simple_form_for @message, url: pledge_email_path do |f| %>
      <div class="input" id="email_template" >
        <p>
          Hi _____________,<br />
          <br />

        <p>With your support we are one one step closer to reforming Prop 13 and increasing funding for schools and
          vital services.</p>

        <p>Thanks for your pledge of $__________ to Evolve’s campaign to close the corporate loophole in
          Prop 13. You can expect to receive a pledge packet in the mail in the next day or two, or you can fulfill your pledge
          online with our secure donate page by <a href="https://evolve.nationbuilder.com/donate"
                                                   title="donate">clicking here</a>.</p>

        <p>The next month of our campaign is critical to our success. We are asking all our donors to have
          their pledges back to us by _______________. If you want to help out more,
          <a href="http://www.evolve-ca.org/petition_13" title="Petition">click here</a>
          to sign our petition urging the California Legislature to support Prop 13 reform.</p>

        <p>Thanks again for your support,</p><br />

        PUT THE EMPLOYEE NAME HERE<br />
        Evolve Membership Outreach<br />
        membership@evolve-ca.org<br />
        <a href="http://www.facebook.com/evolve.ca" title="Facebook">facebook.com/evolve.ca</a>
        </p>
      </div>
      <hr />
      <% if @message.errors.any? %>
        <div id="error_explanation">
          The form contains <%= pluralize(@message.errors.count, "error") %>.
        </div>
        <ul>
          <% @message.errors.full_messages.each do |msg| %>
            <li>* <%= msg %> </li>
          <% end %>
        </ul>
      <% end %>
      <div class="row">
        <div class="span3">
          <div class="input">
            <%= f.input :pledge_amt %>
          </div>
        </div>
        <div class="spana3">
          <div class="input">
            <%= f.input :due_date, as: :string, input_html: { class: 'timepicker' } %>
          </div>
        </div>
      </div>

      <%= f.submit "Send pledge email", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>