<div class="col-md-12 row" id="batch-payments">
  <div class="table-header">
    <h4 class="table-title-right">Payments</h4>
  </div>
  <table class="table">
    <tr class="<%= payment.captured ? "red" : "" %>">
      <th>Created at</th>
      <th>Employee</th>
      <th>Shift</th>
      <th>Supporter</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Frequency</th>
      <th>Source</th>
      <th>Captured?</th>
      <th></th>
    </tr>
    <% payments.each do |payment| %>
      <tr>
        <td>
          <%= l payment.created_at %>
        </td>
        <td>
          <%= payment.donation.shift.employee.full_name if payment.donation.shift %>
        </td>
        <td>
          <%= payment.donation.shift.date if payment.donation.shift %>
        </td>
        <td>
          <%= payment.supporter.full_name %>
        </td>
        <td>
          <%= number_to_currency payment.amount %>
        </td>
        <td>
          <%= payment.payment_type.humanize %>
        </td>
        <td>
          <%= payment.donation.frequency.humanize %>
        </td>
        <td>
          <%= payment.donation.source.humanize %>
        </td>
        <td>
          <%= human_boolean payment.captured %>
        </td>
        <td class="buttons">
          <%= render "shared/index/index_buttons", record: payment.donation %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
