<% batch_presenters.each do |presenter| %>
  <% cache ["v1", presenter.model] do %>
    <tr>
      <td><%= presenter.human_name %></td>
      <td><%= presenter.formatted_date %></td>
      <td><%= presenter.payment_count %></td>
      <td><%= presenter.payment_total %></td>
      <td><%= presenter.approved_by %></td>
      <td class="buttons">
        <%= render "shared/index/index_buttons", record: presenter.model %>
      </td>
    </tr>
  <% end %>
<% end %>
