<% provide(:title, "Approve batch") %>
<h1>Approve batch</h1>
<%= simple_form_for @deposit_batch do |f| %>

  <%= render "shared/error_messages",
             object: f.object %>

  <div class="col-md-12 row">
    <div class="col-md-3">
      <%= f.input :receipt_number %>
    </div>
    <div class="col-md-3">
      <%= f.input :approved %>
    </div>
  </div>
  <hr />
  <div class="form-group row">
    <div class="col-md-2">
      <%= f.button :submit, "Approve Batch", class: "btn-primary" %>
    </div>
  </div>
<% end %>
