<% provide(:title, "Batch details") %>
<h1>Batch details</h1>
<div class="col-md-12 row button-container">
  <div class="buttons">
    <% if admin_user? && @deposit_batch_presenter.not_approved %>
      <%= link_to "approve",
                  edit_deposit_batch_path(@deposit_batch_presenter.model),
                  class: "btn btn-md btn-primary",
                  type: "button" %>
    <% end %>
  </div>
</div>
<div class="cold-md-12 row record-display">
  <div class="col-md-4 record-column">
    <table>
      <tr>
        <th>Type</th>
        <td><%= @deposit_batch_presenter.human_name %></td>
      </tr>
      <tr>
        <th>Date</th>
        <td><%= @deposit_batch_presenter.formatted_date %></td>
      </tr>
      <tr>
        <th>Donations</th>
        <td><%= @deposit_batch_presenter.payment_count %></td>
      </tr>
      <tr>
        <th>Total</th>
        <td><%= @deposit_batch_presenter.payment_total %></td>
      </tr>
    </table>
  </div>
  <div class="col-md-4 record-column">
    <table>
      <tr>
        <th>Approved by</th>
        <td><%= @deposit_batch_presenter.approved_by %></td>
      </tr>
      <tr>
        <th>Receipt number</th>
        <td><%= @deposit_batch_presenter.receipt_number %></td>
      </tr>
      <%= render "shared/profiles/magic_columns",
                 record: @deposit_batch_presenter %>
    </table>
  </div>
</div>
<%= render "shared/profiles/dependent_payments",
           payment_presenters: @payment_presenters %>
