<div class="row">
  <div class="col-md-3">
    <%= f.input :employee_id,
                as: :select,
                collection: Employee.active,
                label_method: :full_name,
                value_method: :id,
                selected: shift.employee_id %>
  </div>
  <div class="col-md-2">
    <%= f.input :date, as: :string, input_html: { type: "date" } %>
  </div>
  <div class="col-md-2">
    <%= f.input :shift_type_id,
                as: :select,
                collection: ShiftType.all,
                label_method: :human_name,
                value_method: :id,
                selected: shift.shift_type_id,
                input_html: { class: "input-shift-data" } %>
  </div>

</div>
<div class="row">
  <div class="col-md-3">
    <%= f.input :site %>
  </div>
  <div class="col-md-3">
    <%= f.input :field_manager_employee_id,
                as: :select,
                collection: Employee.all,
                label_method: :full_name,
                value_method: :id,
                selected: shift.field_manager_employee_id,
                label: 'Field manager',
                include_blank: true %>
  </div>
  <div class="col-md-2">
    <%= f.input :contacts %>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <%= f.input :time_in,
                as: :string,
                input_html: { type: "time" } %>
  </div>
  <div class="col-md-2">
    <%= f.input :time_out,
                as: :string,
                input_html: { type: "time" } %>
  </div>
  <div class="col-md-2">
    <%= f.input :break_time, as: :string %>
  </div>
  <div class="col-md-2">
    <%= f.input :travel_reimb,
                as: :string,
                label: "Travel reimbursement" %>
  </div>


</div>
<hr />
<div class="row">
  <div class="col-md-2 calculator-error-qty">
    <%= f.input :reported_total_yes,
                as: :string,
                label: "Total yes",
                input_html: { class: "input-shift-data" } %>
  </div>
  <div class="col-md-2 calculator-error-amt">
    <%= f.input :reported_raised,
                as: :string,
                label: "Raised",
                input_html: { class: "input-shift-data" } %>
  </div>
</div>
<div class="row">
  <div class="col-md-2 calculator-error-qty">
    <%= f.input :reported_cash_qty,
                as: :string,
                label: "Cash quantity",
                input_html: { class: "input-shift-data" } %>
  </div>
  <div class="col-md-2 calculator-error-amt">
    <%= f.input :reported_cash_amt,
                as: :string,
                label: "Cash amount",
                input_html: { class: "input-shift-data" } %>
  </div>
</div>
<div class="row">
  <div class="col-md-2 calculator-error-qty">
    <%= f.input :reported_check_qty,
                as: :string,
                label: "Check quantity",
                input_html: { class: "input-shift-data" } %>
  </div>
  <div class="col-md-2 calculator-error-amt">
    <%= f.input :reported_check_amt,
                as: :string,
                label: "Check amount",
                input_html: { class: "input-shift-data" } %>
  </div>
</div>
<div class="row">
  <div class="col-md-2 calculator-error-qty">
    <%= f.input :reported_one_time_cc_qty,
                as: :string,
                label: "1x CC quantity",
                input_html: { class: "input-shift-data" } %>
  </div>
  <div class="col-md-2 calculator-error-amt">
    <%= f.input :reported_one_time_cc_amt,
                as: :string,
                label: "1x CC amount",
                input_html: { class: "input-shift-data" } %>
  </div>
</div>
<div class="row">
  <div class="col-md-2 calculator-error-qty">
    <%= f.input :reported_monthly_cc_qty,
                as: :string,
                label: "Monthly CC quantity",
                input_html: { class: "input-shift-data" } %>
  </div>
  <div class="col-md-2 calculator-error-amt">
    <%= f.input :reported_monthly_cc_amt,
                as: :string,
                label: "Monthly CC amount",
                input_html: { class: "input-shift-data" } %>
  </div>
</div>
<div class="row">
  <div class="col-md-2 calculator-error-qty">
    <%= f.input :reported_quarterly_cc_qty,
                as: :string,
                label: "Quarterly CC quantity",
                input_html: { class: "input-shift-data" } %>
  </div>
  <div class="col-md-2 calculator-error-amt">
    <%= f.input :reported_quarterly_cc_amt,
                as: :string,
                label: "Quarterly CC amount",
                input_html: { class: "input-shift-data calculator-error-qty" } %>
  </div>
</div>
<%= render 'shared/forms/notes_field', f: f %>
