<tr>
  <td><%= shift.employee.full_name %></td>
  <td><%= shift.date %></td>
  <td><%= shift.net_time %></td>
  <td><%= shift.shift_type.shift_type %></td>
  <td class="buttons"><%= link_to 'details', shift_path(shift), class: 'btn btn-mini', type: 'button' %>
    <%= link_to 'edit', edit_shift_path(shift), class: 'btn btn-mini', type: 'button' %></td>
</tr>