<div class="row">
  <div class="span6">
    <h4>Employee: <%= employee.full_name %></h4>
  </div>
</div>
<div class="row">
  <div class="span2">
    <%= f.input :date, as: :string, input_html: { class: 'datepicker' } %>
  </div>
  <div class="span2">
    <%= f.input :shift_type_id, as: :select, collection: shift_types, label_method: :human_name, selected: shift.shift_type_id %>
  </div>
</div>
<div class="row">
  <div class="span2">
    <%= f.input :time_in, as: :string, input_html: { class: 'timepicker' } %>
  </div>
  <div class="span2">
    <%= f.input :time_out, as: :string, input_html: { class: 'timepicker' } %>
  </div>
  <div class="span2">
    <%= f.input :break_time %>
  </div>
</div>
<div class="row">
  <div class="span2">
    <%= f.input :travel_reimb, label: 'Travel reimbursement' %>
  </div>
  <div class="span3">
    <%= f.input :field_manager_employee_id, as: :select, collection: field_managers, label_method: :full_name,
                                            selected: shift.field_manager_employee_id, label: 'Field manager'%>
  </div>
</div>
<%= render 'shared/forms/notes_field', f: f %>
