<tr class="clickable-row" id="shift_<%= shift.id %>" url="<%= shift_path(shift) %>">
  <td><%= shift.employee.full_name %></td>
  <td><%= shift.date %></td>
  <td><%= shift.net_time %></td>
  <td><%= shift.shift_type.name.humanize %></td>
</tr>