<div class="col-md-12 row" id="employee-shifts">
  <div class="table-header">
    <h4 class="table-title-right">Donations</h4>
  </div>
  <table class="table table-hover">
    <tr>
      <th>Supporter</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Captured?</th>
      <th>Source</th>
    </tr>
    <% donations.each do |donation| %>
      <tr class="clickable-row" id="donation_<%= donation.id %>" url="<%= donation_path(donation) %>">
        <td><%= donation.supporter.full_name %></td>
        <td><%= donation.date %></td>
        <td><%= donation.amount %></td>
        <td><%= donation.donation_type %></td>
        <td><%= donation.captured %></td>
        <td><%= donation.source %></td>
      </tr>
    <% end %>
  </table>
</div>