<div class="row">
  <div class="span6">
    <h4>Employee: <%= @employee.full_name %></h4>
  </div>
</div>
<div class="row">
  <div class="span2">
    <div class="input">
      <%= f.label :date %>
      <%= f.text_field :date, 'data-behaviour' => 'datepicker' %>
    </div>
  </div>
  <div class="span2">
    <div class="input">
      <%= f.label :shift_type_id, 'Shift type' %>
      <%= f.select :shift_type_id, options_from_collection_for_select(ShiftType.all, :id, :human_name, shift.shift_type_id) %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span2">
    <div class="input">
      <%= f.label :time_in %>
      <%= f.text_field :time_in, 'data-behaviour' => 'timepicker' %>
    </div>
  </div>
  <div class="span2">
    <div class="input">
      <%= f.label :time_out %>
      <%= f.text_field :time_out, 'data-behaviour' => 'timepicker' %>
    </div>
  </div>
  <div class="span2">
    <div class="input">
      <%= f.label :break_time %>
      <%= f.text_field :break_time %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4">
    <div class="input">
      <%= f.label :notes %>
      <%= f.text_field :notes %>
    </div>
  </div>
  <div class="span2">
    <div class="input">
      <%= f.label :travel_reimb %>
      <%= f.text_field :travel_reimb %>
    </div>
  </div>
</div>
