<% provide(:title, "All shifts") %>
<h1>All shifts</h1>
<div class="row">
  <div class="col-md-12">
    <div id="search-form">
      <%= search_form_for @search do |f| %>
        <%= f.condition_fields do |c| %>
          <%= render 'shared/forms/condition_fields', f: c %>
        <% end %>
        <p><%= link_to_add_fields "Add conditions", f, :condition %></p>
        <div class="row">
          <div class="col-md-2">
            <%= f.submit "Search", class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Hours</th>
    <th>Type</th>
    <th>Fundraising</th>
    <th></th>
  </tr>
  <%= render "shifts", shift_presenters: @shift_presenters %>
</table>
<%= will_paginate @shift_presenters %>