<% provide(:title, 'Shift') %>
<%= render 'shared/profile_header', title: 'Shift' %>
<div class="row">
  <div class="span12 padtop">
    <div class="buttons">
      <% if true %>
        <%= link_to 'edit', edit_shift_path(@shift), class: 'btn btn-mini', type: 'button' %>
        <%= link_to 'delete', @shift, method: :delete,
                    data: { confirm: 'You sure?' },
                    class: 'btn btn-mini btn-danger', type: 'button' %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div class="row record-display">
      <div class="span4 record-column">
        <table>
          <tr>
            <th>Employee</th>
            <td><%= @employee.full_name %></td>
          </tr>
          <tr>
            <th>Date:</th>
            <td><%= @shift.date %></td>
          </tr>
          <tr>
            <th>Type:</th>
            <td><%= @shift.shift_type.name.humanize %></td>
          </tr>
        </table>
      </div>
      <div class="span4 record-column">
        <table>
          <tr>
            <th>Time in:</th>
            <td><%= @shift.time_in %></td>
          </tr>
          <tr>
            <th>Time out:</th>
            <td><%= @shift.time_out %></td>
          </tr>
          <tr>
            <th>Break time:</th>
            <td><%= @shift.break_time %> minutes</td>
          </tr>
          <tr>
            <th>Net hours:</th>
            <td><%= @shift.net_time %></td>
          </tr>
        </table>
      </div>
      <div class="span4 record-column">
        <table>
          <tr>
            <th>Travel reimb:</th>
            <td><%= number_to_currency(@shift.travel_reimb) %></td>
          </tr>
          <tr>
            <th>Notes:</th>
            <td><%= @shift.notes %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>