<% provide(:title, 'Shift') %>
<h1>Shift details</h1>
<div class="row">
  <div class="span4">
    <div class="row">
      <div class="span2">
        <h2><%= @shift.employee.full_name %></h2>
      </div>
      <div class="span2 padtop">
        <div class="buttons">
          <% if true %>
            <%= link_to 'edit', edit_shift_path(@shift), class: 'btn btn-mini', type: 'button' %>
            <%= link_to 'delete', @shift, method: :delete,
                        data: { confirm: 'You sure?' },
                        class: 'btn btn-mini btn-danger', type: 'button' %>
          <% end %>
        </div>
      </div>
    </div>
    <div>
      <table>
        <tr height="5px"></tr>
        <tr>
          <th>Date:</th>
          <td><%= @shift.date %></td>
        </tr>
        <tr>
          <th>Type:</th>
          <td><%= @shift.shift_type %></td>
        </tr>
        <tr>
          <th>Time in:</th>
          <td><%= @shift.time_in %></td>
        </tr>
        <tr>
          <th>Time out:</th>
          <td><%= @shift.time_out %></td>
        </tr>
        <tr>
          <th>Break time:</th>
          <td><%= @shift.break_time %> minutes</td>
        </tr>
        <tr>
          <th>Net time:</th>
          <td>Fix this</td>
        </tr>
        <tr>
          <th>Travel reimb:</th>
          <td><%= number_to_currency(@shift.travel_reimb) %></td>
        </tr>
        <tr>
          <th>Notes:</th>
          <td><%= @shift.notes %></td>
        </tr>
      </table>
    </div>
  </div>
</div>