<div class="row">
  <div class="span6">
    <h4>Supporter: <%= @supporter.full_name %></h4>
  </div>
</div>
<div class="row">
  <div class="span2">
    <%= f.input :date, as: :string, input_html: { class: 'datepicker' }  %>
  </div>
  <div class="span1">
    <%= f.input :amount, input_html: { id: 'donation-amount' } %>
  </div>
  <div class="span1 spacer"></div>
  <div class="span2">
    <%= f.input :donation_type,
                input_html: { id: 'donation-type' },
                collection: [['Credit Card', 'credit'], ['Cash', 'cash'], ['Check', 'check']],
                selected: donation.donation_type %>
  </div>
  <div class="span2">
    <%= f.input :frequency, label: 'Sustainer frequency',
                input_html: { id: 'donation-frequency' },
                collection: [['', ''], ['Quarterly', 'quarterly'], ['Monthly', 'monthly']],
                selected: donation.frequency %>
  </div>
</div>
<hr />
<div class="row">
  <div class="span2">
    <%= f.input :source,
                collection: [['Phone', 'phone'], ['Door', 'door'], ['Street', 'street'], ['Web', 'web']],
                selected: donation.source %>
  </div>
  <div class="span2">
    <%= f.input :campaign, collection: [['Prop 13', 'prop13']], selected: donation.campaign %>
  </div>
</div>
<%= render 'shared/forms/notes_field', f: f %>
<% if payment_fields %>
  <%= render 'shared/forms/payment_fields', payment: payment, supporter: supporter,
                                            payment_profiles: payment_profiles, f: f %>
<% end %>


