<tr class="clickable-row" id="donation_<%= donation.id %>" url="<%= donation_path(donation) %>">
  <td><%= donation.supporter.full_name %></td>
  <td><%= donation.date %></td>
  <td><%= number_to_currency donation.amount %></td>
  <td><%= donation.donation_type.humanize %></td>
  <td><%= donation.source.humanize %></td>
</tr>