<% donation_presenters.each do |presenter| %>
  <tr>
    <td><%= presenter.supporter_full_name %></td>
    <td><%= presenter.formatted_date %></td>
    <td><%= presenter.formatted_amount %></td>
    <td><%= presenter.type_to_human %></td>
    <td><%= presenter.source_to_human %></td>
    <td class="buttons">
      <%= render "shared/index/index_buttons", record: presenter.model %>
    </td>
  </tr>
<% end %>
