
<div class="row">
  <div class="col-md-2">
    <%= f.input :date, as: :string, input_html: { class: 'datepicker' }  %>
  </div>
  <div class="col-md-2">
    <%= f.input :amount, as: :string, input_html: { id: 'donation-amount' } %>
  </div>
  <div class="col-md-3">
    <%= f.input :donation_type,
                as: :select,
                input_html: { id: 'donation-type' },
                collection: [['Credit Card', 'credit'],
                             ['Cash', 'cash'],
                             ['Check', 'check']],
                selected: donation.donation_type %>
  </div>
  <div class="col-md-3">
    <%= f.input :sustainer_type,
                label: 'Sustainer frequency',
                as: :select,
                input_html: { id: 'donation-frequency' },
                collection: [['', ''], ['Quarterly', 'quarterly'], ['Monthly', 'monthly']],
                selected: donation.frequency %>
  </div>
</div>
<hr />
<% if payment_fields %>
  <%= render 'shared/forms/payment_fields', payment: payment,
             supporter: supporter,
             payment_profiles: payment_profiles,
             f: f %>
  <hr />
<% end %>

<div class="row">
  <div class="col-md-3">
    <%= f.input :source,
                as: :select,
                collection: [['Phone', 'phone'], ['Door', 'door'], ['Street', 'street'], ['Web', 'web']],
                selected: donation.source %>
  </div>
  <div class="col-md-3">
    <%= f.input :campaign,
                as: :select,
                collection: [['Prop 13', 'prop13']],
                include_blank: true,
                selected: donation.campaign %>
  </div>
  <div class="col-md-5">
    <%= f.input :shift_id,
                as: :select,
                collection: shifts,
                label_method: :short_version,
                include_blank: true,
                selected: donation.shift_id  %>
  </div>
</div>
<%= render 'shared/forms/notes_field', f: f %>



