<div class="col-md-12 row" id="donation-payments">
  <div class="table-header">
    <h4 class="table-title-right">Payments</h4>

    <%= render "shared/profiles/new_dependent_record_button",
               record_name: "payment",
               record: donation %>

  </div>
  <table class="table table-hover">
      <tr>
        <th>Deposit date</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Captured?</th>
        <th></th>
      </tr>
      <% payments.each do |payment| %>
        <tr class="clickable-row <%= payment.captured ? "" : "red" %>">
          <td><%= payment.deposited_at %></td>
          <td><%= number_to_currency payment.amount %></td>
          <td><%= payment.payment_type.humanize %></td>
          <td><%= human_boolean payment.captured %></td>
          <td class="buttons">
            <%= render "shared/index/index_buttons", record: payment %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>