<% provide(:title, 'Donation') %>
<h1>Donation profile</h1>
<%= render 'shared/profiles/profile_buttons', record: @donation %>
<div class="cold-md-12 row record-display">
  <div class="col-md-4 record-column">
    <table>
      <tr>
        <th>Supporter</th>
        <td><%= @supporter.full_name %></td>
      </tr>
      <tr>
        <th>Date</th>
        <td><%= @donation.date %></td>
      </tr>
      <tr>
        <th>Amount</th>
        <td><%= number_to_currency @donation.amount %></td>
      </tr>
      <% if @donation.is_sustainer? %>
        <tr>
          <th>Month code</th>
          <td><%= @donation.sub_month %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-4 record-columnn">
    <table>
      <tr>
        <th>Type</th>
        <td><%= @donation.donation_type.humanize %></td>
      </tr>
      <tr>
        <th>Source</th>
        <td><%= @donation.source.humanize %></td>
      </tr>
      <tr>
        <th>Campaign</th>
        <td><%= @donation.campaign.humanize %></td>
      </tr>
      <% if @donation.is_sustainer? %>
        <tr>
          <th>Week code</th>
          <td><%= @donation.sub_week %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-4 record-columnn">
    <table>
      <tr>
        <th>Notes</th>
        <td><%= @donation.notes %></td>
      </tr>
      <%= render 'shared/profiles/magic_columns', record: @donation %>
      <% if @donation.is_sustainer? %>
        <tr>
          <th>Cancelled</th>
          <td><%= @donation.cancelled ? "Yes" : "No" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<hr />
<%= render 'donation_payments', donation: @donation, payments: @payments %>
