<tr>
  <td><%= project.name %></td>
  <td><%= project.client.name %></td>
  <td><%= project.start_date %></td>
  <td><%= project.end_date %></td>
  <td class="buttons"><%= link_to 'details', project_path(project), class: 'btn btn-mini', type: 'button' %>
    <%= link_to 'edit', edit_project_path(project), class: 'btn btn-mini', type: 'button' if admin_user? %></td>
</tr>