<tr>
  <td><%= project.name %></td>
  <td><%= project.client.name %></td>
  <td><%= project.start_date %></td>
  <td><%= project.end_date %></td>
  <td class="buttons">
    <%= render 'shared/index/details_button', record: project if staff_user? %>
    <%= render 'shared/index/edit_button', record: project if manager_user? %>
  </td>
</tr>