<div class="row">
  <div class="span4">
    <%= f.label :client_id %>
    <%= f.select :client_id, options_from_collection_for_select(Client.all, :id, :name, project.client_id) %>
  </div>
</div>
<div class="row">
  <div class="span4">
    <%= f.input :name, label: 'Project name' %>
  </div>
</div>
<div class="row">
  <div class="span2">
    <%= f.label :start_date %>
    <%= f.text_field :start_date, 'data-behaviour' => 'datepicker' %>
  </div>
  <div class="span2">
    <%= f.label :end_date %>
    <%= f.text_field :end_date, 'data-behaviour' => 'datepicker' %>
  </div>
</div>
<div class="row">
  <div class="span4">
    <%= f.input :desc, label: 'Description' %>
  </div>
</div>
<%= render 'shared/forms/notes_field', f: f %>