<% provide(:title, @project.name) %>
<%= render 'shared/profiles/profile_header', title: 'Project' %>
<%= render 'shared/profiles/profile_buttons', record: @project %>
<div class="row">
  <div class="span12">
    <div class="row record-display">
      <div class="span4 record-column">
        <table>
          <tr>
            <th>Name</th>
            <td><%= @project.name %></td>
          </tr>
          <tr>
            <th>Client</th>
            <td><%= @client.name %></td>
          </tr>
          <tr>
            <th>Start date</th>
            <td>
              <%= @project.start_date %>
            </td>
          </tr>
          <tr>
            <th>End date</th>
            <td><%= @project.end_date %></td>
          </tr>
          <tr>
            <th>Description</th>
            <td><%= @project.desc %></td>
          </tr>
          <tr>
            <th>Notes</th>
            <td><%= @project.notes %></td>
          </tr>
          <%= render 'shared/profiles/magic_columns', record: @project %>
        </table>
      </div>
    </div>
  </div>
</div>