<% provide(:title, "Payment") %>
<h1>Payment</h1>
<div class="col-md-12 row button-container">
  <div class="buttons">
    <%= link_to "Donation", donation_path(@payment_presenter.donation),
              class: "btn btn-xs btn-default",
              role: "button" %>
  </div>
</div>
<div class="cold-md-12 row record-display">
  <div class="col-md-4 record-column">
    <table>
      <tr>
        <th>Supporter</th>
        <td><%= @payment_presenter.supporter_name %></td>
      </tr>
      <tr>
        <th>Donation date</th>
        <td><%= @payment_presenter.formatted_donation_date %></td>
      </tr>
      <tr>
        <th>Donation amount</th>
        <td><%= @payment_presenter.formatted_donation_amount %></td>
      </tr>
      <tr>
        <th>Donation source</th>
        <td><%= @payment_presenter.source_to_human %></td>
      </tr>
      <% if @payment_presenter.is_donation_sustainer? %>
        <tr>
          <th>Donation month code</th>
          <td><%= @payment_presenter.donation_sub_month %></td>
        </tr>
        <tr>
          <th>Donation week code</th>
          <td><%= @payment_presenter.donation_sub_week %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-4 record-column">
    <table>
      <tr>
        <th>Amount</th>
        <td><%= @payment_presenter.formatted_amount %></td>
      </tr>
      <tr>
        <th>Type</th>
        <td><%= @payment_presenter.type_to_human %></td>
      </tr>
      <tr>
        <th>Payment profile</th>
        <td><%= @payment_presenter.payment_profile_short %></td>
      </tr>

      <tr>
        <th>Auth code</th>
        <td><%= @payment_presenter.cim_auth_code %></td>
      </tr>
      <tr>
        <th>CIM payment profile</th>
        <td><%= @payment_presenter.cim_payment_profile_id %></td>
      </tr>
      <tr>
        <th>Supporter CIM ID</th>
        <td><%= @payment_presenter.supporter_cim_id %></td>
      </tr>
    </table>
  </div>
  <div class="col-md-4 record-column">
    <table>
      <tr>
        <th>Result</th>
        <td><%= @payment_presenter.captured_to_human %></td>
      </tr>
      <tr>
        <th>Status</th>
        <td><%= @payment_presenter.payment_status %></td>
      </tr>
      <tr>
        <th>Deposited at</th>
        <td><%= @payment_presenter.formatted_deposited_at %></td>
      </tr>
      <tr>
        <th>Receipt sent at</th>
        <td><%= @payment_presenter.formatted_receipt_sent_at %></td>
      </tr>
      <%= render "shared/profiles/magic_columns", presenter: @payment_presenter %>
    </table>
  </div>
</div>
