<div class="row">
  <div class="span10">
    <button type="button" id="contact_prefs_link" class="btn" data-toggle="button">Contact prefs</button>
    <button type="button" id="emp_fields_link" class="btn" data-toggle="button">Employer</button>
    <button type="button" id="vol_fields_link" class="btn" data-toggle="button">Volunteer</button>
    <!--<button type="button" id="sustainer_fields_link" class="btn" data-toggle="button">Sustainer</button>-->
    <button type="button" id="notes_form_link" class="btn" data-toggle="button">Notes</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="span1">
    <%= f.input :prefix, placeholder: 'Sir' %>
  </div>
  <div class="span2">
    <%= f.input :salutation, placeholder: 'Bob' %>
  </div>
  <div class="span2">
    <%= f.input :first_name, placeholder: 'William' %>
  </div>
  <div class="span3">
    <%= f.input :last_name, placeholder: 'Jones' %>
  </div>
  <div class="span1">
    <%= f.input :suffix, placeholder: 'III' %>
  </div>
</div>
<hr />
<div class="row">
  <div class="span3">
    <%= f.input :address1, placeholder: '123 Main St.' %>
  </div>
  <div class="span2">
    <%= f.input :address2, placeholder: 'Apt. 320' %>
  </div>
  <div class="span2">
    <%= f.input :address_city, label: 'City', placeholder: 'San Francisco' %>
  </div>
  <div class="span1 select">
    <%= f.label :address_state, 'State' %>
    <%= f.select :address_state, us_states %>
  </div>
  <div class="span1">
    <%= f.input :address_zip, label: 'Zip', placeholder: '94110' %>
  </div>
</div>
<hr />
<div class="row">
  <div class="span3">
    <%= f.input :email_1, label: 'Primary email' %>
  </div>
  <div class="span1">
    <%= f.label :email_1_bad, 'Bad?' %>
    <%= f.check_box :email_1_bad %>
  </div>
  <div class="span3">
    <%= f.input :email_2, label: 'Secondary email' %>
  </div>
  <div class="span1">
    <%= f.label :email_2_bad, 'Bad?' %>
    <%= f.check_box :email_2_bad %>
  </div>
</div>
<hr />
<div class="row">
  <div class="span2">
    <%= f.input :phone_mobile, label: 'Mobile phone' %>
  </div>
  <div class="span1">
    <%= f.label :phone_mobile_bad, 'Bad?' %>
    <%= f.check_box :phone_mobile_bad %>
  </div>
  <div class="span2">
    <%= f.input :phone_home, label: 'Home phone' %>
  </div>
  <div class="span1">
    <%= f.label :phone_home_bad, label: 'Bad?' %>
    <%= f.check_box :phone_home_bad %>
  </div>
  <div class="span2">
    <%= f.input :phone_alt, label: 'Alt phone' %>
  </div>
  <div class="span1">
    <%= f.label :phone_alt_bad, 'Bad?' %>
    <%= f.check_box :phone_alt_bad %>
  </div>
</div>
<hr />
<div class="row">
  <div class="span3">
    <%= f.label :supporter_type %>
    <%= f.select :supporter_type_id, options_from_collection_for_select(SupporterType.all, :id, :name, @supporter.supporter_type_id) %>
  </div>
  <div class="span3">
    <%= f.label :source %>
    <%= f.select :source, options_for_select([['Door', 'door'], ['Street', 'street'], ['Web', 'web']], @supporter.source) %>
  </div>
</div>
<!--<div id="emp_fields" class="collapse">-->
<div>
  <hr />
  <div class="row">
    <div class="span3">
      <%= f.input :employer %>
    </div>
    <div class="span3">
      <%= f.input :occupation %>
    </div>
  </div>
</div>
<!--<div id="contact_pref_fields" class="collapse">-->
<div>
  <hr />
  <div class="row">
    <div class="span1">
      <%= f.label :do_not_call %>
      <%= f.check_box :do_not_call %>
    </div>
    <div class="span1">
      <%= f.label :do_not_email %>
      <%= f.check_box :do_not_email %>
    </div>
    <div class="span1">
      <%= f.label :do_not_mail %>
      <%= f.check_box :do_not_mail %>
    </div>
  </div>
</div>

<!--<div id="vol_fields" class="collapse">-->
<div>
  <hr />
  <div class="row">
    <div class="span1">
      <%= f.label :keep_informed %>
      <%= f.check_box :keep_informed %>
    </div>
    <div class="span3">
      <%= f.label :vol_level %>
      <%= f.select :vol_level, options_for_select([ ['', ''], ['Prospect', 'prospect'],['Regular', 'regular'],
                                                    ['Core', 'core'] ], @supporter.vol_level) %>
    </div>
  </div>
</div>
<!-- need div id here -->
<div>
  <hr />
  <div class="row">
    <div class="span10">
      <%= f.input :notes %>
    </div>
  </div>
</div>
<hr />