
<%= render "supporter_field_buttons" %>
<hr />
<div class="row">
  <div class="col-md-2">
    <%= f.input :prefix, placeholder: 'Sir' %>
  </div>
  <div class="col-md-2">
    <%= f.input :salutation, placeholder: 'Bob' %>
  </div>
  <div class="col-md-3">
    <%= f.input :first_name, placeholder: 'William' %>
  </div>
  <div class="col-md-4">
    <%= f.input :last_name, placeholder: 'Jones' %>
  </div>
  <div class="col-md-1">
    <%= f.input :suffix, placeholder: 'III' %>
  </div>
</div>
<hr />
<%= render 'shared/forms/address_fields', f: f, record: supporter %>
<hr />
<div class="row">
  <div class="col-md-4">
    <%= f.input :email_1, label: 'Primary email' %>
  </div>
  <div class="col-md-1">
    <%= f.label :email_1_bad, 'Bad?' %>
    <%= f.check_box :email_1_bad %>
  </div>
  <div class="col-md-2">
    <%# f.input :sendy_status,
              as: :select,
              collection: [["Subscribed", "subscribe"],
                            ["Unsubscribed", "unsubscribe"],
                            ["Pending", "pending"]],
              include_blank: true,
              selected: @supporter.sendy_status %>

  </div>
  <div class="collapse" id="alt_email">
    <div class="col-md-4">
      <%= f.input :email_2, label: 'Secondary email' %>
    </div>
    <div class="col-md-1">
      <%= f.label :email_2_bad, 'Bad?' %>
      <%= f.check_box :email_2_bad %>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-3">
    <%= f.input :phone_mobile, label: 'Mobile phone' %>
  </div>
  <div class="col-md-1">
    <%= f.label :phone_mobile_bad, 'Bad?' %>
    <%= f.check_box :phone_mobile_bad %>
  </div>
  <div class="col-md-3">
    <%= f.input :phone_home, label: 'Home phone' %>
  </div>
  <div class="col-md-1">
    <%= f.label :phone_home_bad, label: 'Bad?' %>
    <%= f.check_box :phone_home_bad %>
  </div>
  <div class="collapse" id="alt_phone">
    <div class="col-md-3">
      <%= f.input :phone_alt, label: 'Alt phone' %>
    </div>
    <div class="col-md-1">
      <%= f.label :phone_alt_bad, 'Bad?' %>
      <%= f.check_box :phone_alt_bad %>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-3">
    <%= f.input :supporter_type_id,
                as: :select,
                collection: SupporterType.all,
                label_method: :name,
                value_method: :id,
                selected: @supporter.supporter_type_id  %>
  </div>
  <div class="col-md-3">
    <%= f.input :source,
                as: :select,
                collection: [['Door', 'door'],
                             ['Street', 'street'],
                             ['Web', 'web']],
                include_blank: true,
                selected: @supporter.source %>
  </div>
  <div class="col-md-2">
    <%= f.input :issue_knowledge %>
  </div>
</div>
<div id="spouse" class="collapse">
  <hr />
  <div class="row">
    <div class="col-md-4">
      <%= f.input :spouse_name %>
    </div>
  </div>
</div>
<div id="employer" class="collapse">
  <hr />
  <div class="row">
    <div class="col-md-4">
      <%= f.input :employer %>
    </div>
    <div class="col-md-4">
      <%= f.input :occupation %>
    </div>
  </div>
</div>
  <hr />
  <div class="row">
    <div class="col-md-2">
      <%= f.label :do_not_call %>
      <%= f.check_box :do_not_call %>
    </div>
    <div class="col-md-2">
      <%= f.label :do_not_email %>
      <%= f.check_box :do_not_email %>
    </div>
    <div class="col-md-2">
      <%= f.label :do_not_mail %>
      <%= f.check_box :do_not_mail %>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-2">
      <%= f.label :keep_informed %>
      <%= f.check_box :keep_informed %>
    </div>
    <div class="col-md-4">
      <%= f.input :vol_level,
                  as: :select,
                  collection: [['Prospect', 'prospect'],
                              ['Regular', 'regular'],
                              ['Core', 'core'] ],
                  include_blank: true,
                  selected: @supporter.vol_level %>
    </div>
  </div>
<div id="tags" class="collapse">
  <hr />
  <div class="row">
    <div class="col-md-12">
      <%= f.input :tag_list, label: 'Tag list (comma separated)' %>
    </div>
  </div>
</div>
<div id="notes">
  <%= render 'shared/forms/notes_field', f: f %>
</div>
<hr />
