<div class="row">
  <div class="span12" id="supporter-donations">
    <div class="row">
      <div class="span6">
        <h4 class="table-title-right">Donations</h4>
      </div>
      <%= render 'shared/profiles/new_dependent_record_button', record_name: 'donation', record: supporter %>
    </div>
    <table class="table table-condensed table-striped">
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Source</th>
        <th></th>
      </tr>
      <% donations.each do |donation| %>
        <tr>
          <td><%= donation.date %></td>
          <td><%= donation.amount %></td>
          <td><%= donation.donation_type %></td>
          <td><%= donation.source %></td>
          <td class="buttons">
            <%= link_to 'details', donation_path(donation), class: 'btn btn-mini', type: 'button' if manager_user? %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>