<div class="col-md-12 row" id="supporter-donations">
  <div class="table-header">
    <h4 class="table-title-right">Donations</h4>
    <%= render 'shared/profiles/new_dependent_record_button',
               record_name: 'donation', record: supporter %>
  </div>
  <table class="table table-hover">
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Frequency</th>
      <th>Captured?</th>
      <th>Source</th>
    </tr>
    <% donations.each do |donation| %>
      <tr class="clickable-row" id="donation_<%= donation.id %>" url="<%= donation_path(donation) %>">
        <td><%= donation.date %></td>
        <td><%= number_to_currency donation.amount %></td>
        <td><%= donation.donation_type.humanize %></td>
        <td><%= donation.frequency.humanize %></td>
        <td><%= donation.captured %></td>
        <td><%= donation.source.humanize %></td>
      </tr>
    <% end %>
  </table>
</div>
