<div class="row">
  <div class="span10">
    <button type="button" id="contact_prefs_link" class="btn" data-toggle="button">Contact prefs</button>
    <button type="button" id="emp_fields_link" class="btn" data-toggle="button">Employer</button>
    <button type="button" id="vol_fields_link" class="btn" data-toggle="button">Volunteer</button>
    <!--<button type="button" id="sustainer_fields_link" class="btn" data-toggle="button">Sustainer</button>-->
    <button type="button" id="notes_form_link" class="btn" data-toggle="button">Notes</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="span1">
    <div class="input">
      <%= f.input :prefix %>
    </div>
  </div>
  <div class="span2">
    <div class="input">
    <%= f.input :salutation %>
    </div>
  </div>
  <div class="span2">
    <div class="input">
      <%= f.input :first_name %>
    </div>
  </div>
  <div class="span3">
    <div class="input">
      <%= f.input :last_name %>
    </div>
  </div>
  <div class="span1">
    <div class="input">
      <%= f.input :suffix %>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="span3">
    <div class="input">
      <%= f.input :address1 %>
    </div>
  </div>
  <div class="span2">
    <div class="input">
      <%= f.input :address2 %>
    </div>
  </div>
  <div class="span2">
    <div class="input">
      <%= f.input :address_city, label: 'City' %>
    </div>
  </div>
  <div class="span1">
    <div class="input">
      <%= f.select :address_state, us_states %>
    </div>
  </div>
  <div class="span1">
    <div class="input">
      <%= f.input :address_zip, label: 'Zip' %>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="span3">
    <div class="input">
      <%= f.input :email_1, label: 'Primary email' %>
    </div>
  </div>
  <div class="span1">
    <div class="input">
      <%= f.input :email_1_bad, label: 'Bad?' %>
    </div>
  </div>
  <div class="span3">
    <div class="input">
      <%= f.input :email_2, label: 'Secondary email' %>
    </div>
  </div>
  <div class="span1">
    <div class="input">
      <%= f.input :email_2_bad, label: 'Bad?' %>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="span2">
    <div class="input">
      <%= f.input :phone_mobile, label: 'Mobile phone' %>
    </div>
  </div>
  <div class="span1">
    <div class="input">
      <%= f.input :phone_mobile_bad, label: 'Bad?' %>
    </div>
  </div>
  <div class="span2">
    <div class="input">
      <%= f.input :phone_home, label: 'Home phone' %>
    </div>
  </div>
  <div class="span1">
    <div class="input">
      <%= f.input :phone_home_bad, label: 'Bad?' %>
    </div>
  </div>
  <div class="span2">
    <div class="input">
      <%= f.input :phone_alt, label: 'Alt phone' %>
    </div>
  </div>
  <div class="span1">
    <div class="input">
      <%= f.input :phone_alt_bad, label: 'Bad?' %>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="span3">
    <div class="input">
      <%= f.label :supporter_type %>
      <%= f.select :supporter_type_id, options_from_collection_for_select(SupporterType.all, :id, :name, @supporter.supporter_type_id) %>
    </div>
  </div>
  <div class="span3">
    <div class="input">
      <%= f.label :source %>
      <%= f.select :source, options_for_select([['Door', 'door'], ['Street', 'street'], ['Web', 'web']], @supporter.source) %>
    </div>
  </div>
</div>
<!--<div id="emp_fields" class="collapse">-->
<div>
  <hr />
  <div class="row">
    <div class="span3">
      <%= f.input :employer %>
    </div>
    <div class="span3">
      <%= f.input :occupation %>
    </div>
  </div>
</div>
<!--<div id="contact_pref_fields" class="collapse">-->
<div>
  <hr />
  <div class="row">
    <div class="span1">
      <%= f.input :do_not_call %>
    </div>
    <div class="span1">
      <%= f.input :do_not_email %>
    </div>
    <div class="span1">
      <%= f.input :do_not_mail %>
    </div>
  </div>
</div>

<!--<div id="vol_fields" class="collapse">-->
<div>
  <hr />
  <div class="row">
    <div class="span1">
      <%= f.input :keep_informed %>
    </div>
    <div class="span3">
      <%= f.label :vol_level %>
      <%= f.select :vol_level, options_for_select([ ['', ''], ['Prospect', 'prospect'],['Regular', 'regular'],
                                                    ['Core', 'core'] ], @supporter.vol_level) %>
    </div>
  </div>
</div>
<!-- need div id here -->
<div>
  <hr />
  <div class="row">
    <div class="span10">
      <%= f.input :notes %>
    </div>
  </div>
</div>
<hr />