<tr>
  <td><%= supporter.full_name %></td>
  <td><%= supporter.address_city %></td>
  <td><%= mail_to supporter.email_1, supporter.email_1, class: 'hover-underline-grey' %></td>
  <td><%= number_to_phone(supporter.phone_mobile.to_i) %></td>
  <td><%= supporter.supporter_type.name %></td>
  <td><%= supporter.source %></td>
  <td class="buttons"><%= link_to 'details', supporter_path(supporter), class: 'btn btn-mini', type: 'button' %>
    <%= link_to 'edit', edit_supporter_path(supporter), class: 'btn btn-mini', type: 'button' if admin_user? %></td>
</tr>