<% provide(:title, "Supporters") %>
<h1>Supporters</h1>
<% cache "ransack-form-v4-#{params[:q]}" do %>
  <%= render "shared/index/search_fields", search: @search %>
<% end %>
<% if admin_user? %>
<div class="pull-right">
<%= link_to "Export XLS", supporters_path({:format => :xls }.merge(params)), :class => "btn btn-info" %>
<p>
</div>
<% end %>
<%= cache ["v4-#{params[:page]}-#{params[:q]}", cache_key_for_supporters ] do %>
  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Type</th>
      <th>Source</th>
      <th></th>
    </tr>
    <%= render "supporters", supporter_presenters: @supporter_presenters %>
  </table>
  <%= will_paginate @supporter_presenters %>
<% end %>
