<% provide(:title, @supporter.full_name) %>
<h1>Supporter profile</h1>
<div class="row">
  <div class="row">
    <div class="span12">
      <div class="span12">
        <h2 class="page-title"><%= @supporter.full_name %></h2>
      </div>
    </div>
  </div>
  <div class="span4">
    <div>
      <table>
        <tr height="5px"></tr>
        <% @supporter.emails.each do |key, value| %>
          <tr>
            <th><%= key.to_s %></th>
            <td><%= value %></td>
          </tr>
        <% end %>
        <% @supporter.phones.each do |key, value| %>
          <tr>
            <th><%= key.to_s %></th>
            <td><%= number_to_phone(value.to_i) %></td>
          </tr>
        <% end %>
        <tr>
          <th>Address:</th>
          <td><%= @supporter.address1 %></td>
        </tr>
        <% if @supporter.address2.present? %>
          <tr>
            <th></th>
            <td><%= @supporter.address2 %></td>
          </tr>
        <% end %>
        <tr>
          <th></th>
          <td>
            <%= @supporter.city + ', ' + @supporter.state + ' ' + @supporter.zip  %>
          </td>
        </tr>
          <th>Created at:</th>
          <td><%= @supporter.created_at %></td>
        </tr>
        <tr>
          <th>Updated at:</th>
          <td><%= @supporter.updated_at %></td>
        </tr>
      </table>
      <div class="row">
        <div class="span2 padtop">
          <div class="buttons">
            <% if admin_user? %>
              <%= link_to 'edit', edit_supporter_path(@supporter), class: 'btn btn-mini', type: 'button' %>
              <%= link_to 'delete', @supporter, method: :delete,
                          data: { confirm: 'You sure?' },
                          class: 'btn btn-mini btn-danger', type: 'button' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'supporter_shifts', locals: { shifts: @shifts, supporter: @supporter} %>
</div>