<% provide(:title, @supporter.full_name) %>
<h1>Supporter profile</h1>
<%= render 'shared/profiles/profile_buttons', record: @supporter %>
<div class="col-md-12 row record-display">
  <div class="col-md-4 record-column">
    <table>
      <tr>
        <th>Name</th>
        <td><%= @supporter.full_name %></td>
      </tr>
      <% @supporter.emails.each do |key, value| %>
        <tr>
          <th><%= 'Email' %></th>
          <td><%= value %></td>
        </tr>
      <% end %>
      <% @supporter.phones.each do |key, value| %>
        <tr>
          <th><%= key.to_s.split("_").last.humanize %></th>
          <td><%= number_to_phone(value.to_i) %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-4 record-column record-column2">
    <table>
      <tr>
        <%= render 'shared/profiles/address', record: @supporter %>
      </tr>
      <tr>
        <th>Cim ID</th>
        <td><%= @supporter.cim_id %></td>
      </tr>
      <% if @supporter.employer.present? || @supporter.occupation.present? %>
        <tr>
          <th>Occupation</th>
          <td><%= @supporter.occupation.humanize %></td>
        </tr>
        <tr>
          <th>Employer</th>
          <td><%= @supporter.employer %></td>
        </tr>
      <% end %>
      <tr>
        <th>Tags</th>
        <td><%= @supporter.tag_list %></td>
      </tr>
    </table>
  </div>
  <div class="col-md-4 record-column record-column3">
    <table>
      <tr>
        <th>Vol. Level</th>
        <td><%= @supporter.vol_level %></td>
      </tr>
      <tr>
        <th>Source</th>
        <td><%= @supporter.source.humanize %></td>
      </tr>
      <tr>
        <th>Notes</th>
        <td><%= @supporter.notes %></td>
      </tr>
      <%= render 'shared/profiles/magic_columns', record: @supporter %>
    </table>
  </div>
</div>
<hr />
<%= render 'supporter_donations', donations: @donations, supporter: @supporter %>
