<% provide(:title, @supporter_presenter.full_name) %>
<h1>Supporter profile</h1>
<div class="col-md-12 row button-container">
  <div class="buttons">
    <%= render "shared/profiles/new_dependent_record_button",
               record_name: "donation",
               record: @supporter_presenter.model %>
    <%= render "shared/profiles/profile_buttons",
               record: @supporter_presenter.model %>
  </div>
</div>
<div class="col-md-12 row record-display">
  <div class="col-md-4 record-column">
    <table>
      <tr>
        <th>Name</th>
        <td><%= @supporter_presenter.full_name %></td>
      </tr>
      <%= render "supporter_emails" %>
      <%= render "supporter_phones" %>
      <%= render "supporter_spouse" %>
    </table>
  </div>
  <div class="col-md-4 record-column record-column2">
    <table>
      <%= render "shared/profiles/address",
                 presenter: @supporter_presenter %>
      <tr>
        <th>Cim ID</th>
        <td><%= @supporter_presenter.cim_id %></td>
      </tr>
      <%= render "supporter_employer" %>
      <tr>
        <th>Tags</th>
        <td><%= @supporter_presenter.tag_list %></td>
      </tr>
    </table>
  </div>
  <div class="col-md-4 record-column record-column3">
    <table>
      <tr>
        <th>Vol. Level</th>
        <td><%= @supporter_presenter.vol_level %></td>
      </tr>
      <tr>
        <th>Source</th>
        <td><%= @supporter_presenter.source_to_human %></td>
      </tr>
      <tr>
        <th>Notes</th>
        <td><%= @supporter_presenter.notes %></td>
      </tr>
      <%= render 'shared/profiles/magic_columns',
                 presenter: @supporter_presenter %>
    </table>
  </div>
</div>
<hr />
<%= render "shared/profiles/dependent_donations",
           donation_presenters: @donation_presenters %>
