<tr>
  <td><%= shift_type.name.humanize %></td>
  <td><%= shift_type.fundraising_shift %></td>
  <td><%= shift_type.quota_shift %></td>
  <td><%= shift_type.number_of_shifts %></td>
  <td class="buttons">
    <%= render "shared/index/index_buttons", record: shift_type %>
  </td>
</tr>