<tr>
  <td><%= shift_type.name.humanize %></td>
  <td><%= shift_type.fundraising_shift %></td>
  <td><%= shift_type.quota_shift %></td>
  <td><%= shift_type.number_of_shifts %></td>
  <td class="buttons">
    <%= link_to 'edit', edit_shift_type_path(shift_type),
                class: 'btn btn-default btn-xs', type: 'button' %>
  </td>
</tr>