<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>
    <%= render "layouts/nav" if current_user %>
    <div id="main-wrapper">
      <div class="container container-main">
        <%= render "layouts/flash" %>
        <%= yield %>
      </div>
    </div>
    <%= render "layouts/footer" %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
